body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232428;
    font-family: "Audiowide", sans-serif;
    color:aliceblue
}

canvas{
    
    background-color: black;
}

#player1 {
    font-size: 30px;
    margin-right: 70px; /* Space between the text and canvas */
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

#player2 {
    font-size: 30px;
    margin-left: 70px; /* Space between the text and canvas */
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}