header{
    
    background-color: #2b2a2a;
}

.container{

    padding: 20px;
}

.line-txt-line {
    
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 50px;
    font-size: 32px;
    align-items: center;
    color: #d02a2a;
}

.line-txt-line::before,
.line-txt-line::after {

    content: "";
    display: block;
    height: 3px;
    background-color:#d02a2a;
}

h1{

    letter-spacing: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
}